body {
    margin: 0;
}

div {
    padding: 0 100px;
}

.header, .content-one, .footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;

    display: flex;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;

    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    gap: 15px;
}

button {
    background-color: #3882f6;
    border-radius: 4px;
    padding: 5px 15px;
    color: #f9faf8;
    border: none;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.content-one {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    gap: 20px;
    
}

.content-one img {
    width: 300px;
    height: auto;
    flex: 1;
}

.container {
    padding: 0;
    flex: 1;
}

.content-two {
    display: flex;
}

.img-container {
    display: flex;
}

.content-three {
    background-color: #e5e7e3;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.content-four {
    background-color: #3882f6;

    display: flex;
}

img {
    width: 100px;
    height: auto;
}