body, p, h1, h2 {
    margin: 0;
}

.header, .content-one, .content-four, .footer {
    padding: 0 15%;
}

.content-two, .content-three {
    padding: 0 22%;
}

.header, .content-one, .footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;

    display: flex;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

button {
    background-color: #3882f6;
    border-radius: 4px;
    padding: 5px 15px;
    color: #f9faf8;
    border: none;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-one {
    padding-top: 50px;
    padding-bottom: 60px;
    align-items: center;
    gap: 30px;
    
}

.content-one img {
    width: 300px;
    height: auto;
    flex: 1;
}

.container {
    flex: 1;
}

.container p {
    padding-bottom: 10px;
}

.content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 75px;
    
}

.img-container {
    display: flex;
    gap: 35px;
}

img {
    width: 100%;
}

.content-three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    padding-top: 75px;
    padding-bottom: 75px;
}

.quotee {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.content-four {
    background-color: #3882f6;
    margin: 75px 15%;
    border-radius: 5px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 75px;
}

.content-four button {
    border: 2px solid #f9faf8;
}

.bold-p {
    font-size: 20px;
    font-weight: bold;
}

.footer {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}